{% extends "layout.html" %}
{% block content %}

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <h1 class="page-title">IELTS Coaching Sidebar Page</h1>
                    <p class="page-description">Professional Visa Immigration coaching website template with sidebar design.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <!-- page breadcrumb -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">IELTS Coaching Sidebar Page</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page breadcrumb -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="content-area">
                        <img src="static/images/coaching-single-page.jpg" alt="" class="img-fluid mb30">
                        <h2>About IELTS Coaching</h2>
                        <p class="lead"> Curabitur tristique quis mi eleifend congu teger eget felis laoreet, volutpat justo vitae, molestie enim estibulum sed sollicitudin magn estibulum placerat eleifend magna placera uismod inunc molestie neque auctor orci tristique ornare.</p>
                        <p> Tristique quis mi eleifend congue. Integer eget felis laoreet, volut pat justo vitae, molestie enim. Vestibulum sed sollicitudin magna. Vestibulum placerat eleifend magna, a placerat erat euismod in. Nunc molestie neque auctor orci tristique ornare.</p>
                        <h2>How to Prepare for IELTS</h2>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Listening</h3>
                                <p>Tristique quis mi eleifend congue. Integer eget felis laoreet, volut pat justo vitae, molestie enim. Vestibulum sed sollicitudin magna. Vestibulum placerat eleifend mnc molestie neque auctor orci tristique ornare.</p>
                            </div>
                        </div>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Reading</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum vel nisl vitae euismod. Phasellus mollis tellus odio, ut porta ligula tincidunt ccumsan lacinia a, semper sit amet est.</p>
                            </div>
                        </div>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Writing</h3>
                                <p>Sed dignissim dolor eget lectus mattis, sed tincidunt lectus ultricies. Integer dictum diam odio. Vivamus nec sem et leo iaculis dictum. Quisque imperdiet nibh et ipsum fermentum, sed imperdiet lacus accumsan. Phasellus sed mauris suscipit, euismod mi vitae.</p>
                            </div>
                        </div>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Speaking</h3>
                                <p> Vivamus molested solliciie nisi dui, condimentum commodo odio hendrerit ut. Nunc efficitur consectetur est. Fusce q Vestibulum placerat eleifend magna, a placerat erat euismod in. Nunc molestie neque auctouis dictum ipsum. Sed tincidunt ligula libero, sit amet iaculis nisl auctor id.</p>
                            </div>
                        </div>
                        <div class="card-light mb30">
                            <div class="card-light-body">
                                <h3>IELTS Eligibility</h3>
                                <p>Tristique quis mi eleifend congue. Integer eget felis laoreet, volut pat justo vitae, molestie enim. Vestibulum sed sollicitudin magna. Vestibulum placerat eleifend magna, a placerat erat euismod in. Nunc molestie neque auctor orci tristique ornare.</p>
                                <h4>Some point of classroom sesstions</h4>
                                <ul class="listnone check-circle">
                                    <li>IELTS is not recommended for candidates under the age of 16.</li>
                                    <li>It is eligible for students:</li>
                                    <li>Students who are applying to study in UK, Australia, Canada, New Zealand and US.</li>
                                    <li>Medical professionals planning to work or follow further study in the UK, Australia or US.</li>
                                    <li>People planning to emigrate to Canada, Australia or New Zealand.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bg-light pinside30 mb30">
                            <h2>Opening up a world of opportunity.</h2>
                            <p>Our expertise can help you get ready for IELTS wherever you are in the world.</p>
                            <a href="#" class="btn btn-default">Get Free Assessment</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="sidebar">
                        <div class="widget widget-quote-form bg-yellow">
                            <h3 class="form-title">Free Immigration Assessment</h3>
                            <p class="form-text">Find out your options for visa by completing a free online assessment.</p>
                            <form class="sidebar-quote-form" method="post" action="widget-enquiry.php">
                               
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="yourname">Your Name</label>
                                    <div class="">
                                        <input id="yourname" name="yourname" type="text" placeholder="Your Name" class="form-control" required="">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="email">Email</label>
                                    <div class="">
                                        <input id="email" name="email" type="email" placeholder="Email" class="form-control" required="">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="mobileno">Mobile No</label>
                                    <div class="">
                                        <input id="mobileno" name="mobileno" type="number" placeholder="Mobile No" class="form-control" required="">
                                    </div>
                                </div>
                                  <div class="form-group">
                                    <label for="selectvisa" class="sr-only">Select Visa</label>
                                    <select class="form-control" id="selectvisa" name="selectvisa">
                                        <option value="Select Visa">Select Visa</option>
                                        <option value="Students Visa">Students Visa</option>
                                        <option value="Business Visa">Business Visa</option>
                                        <option value="Family Visa">Family Visa</option>
                                        <option value="Travel Visa">Travel Visa </option>
                                        <option value="Work Visa">Work Visa </option>
                                        <option value="Visitor Visa">Visitor Visa </option>
                                        <option value="Migrate Visa">Migrate Visa </option>
                                        <option value="PR Visa">PR Visa</option>
                                    </select>
                                </div>
                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="message">Message</label>
                                    <div class="">
                                        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default btn-lg btn-block">Book My Free Assessment</button>
                            </form>
                        </div>
                        <div class="widget-testimonial">
                            <div class="card-testimonial card-testimonial-light">
                                <!-- card testimonial start -->
                                <div class="card-testimonial-img"><img src="static/images/card-testimonial-img-1.jpg" alt="" class="rounded-circle"></div>
                                <div class="card-testimonial-content">
                                    <p class="card-testimonial-text">“Fusce non mi at nisl laoreet pretiumulla ut elementum sapien, a pulvinar augueed semper sed tellus in ultrices am simply dummy content hendrerit elit vel urna fermentum congue. . ”</p>
                                </div>
                                <div class="card-testimonial-info">
                                    <span class="card-testimonial-flag"><img src="static/images/country/canada.svg" class="flag-small"></span>
                                    <h4 class="card-testimonial-name">Dustin A. Morgan</h4>
                                    <p><small>( Canada Students Visa )</small></p>
                                </div>
                            </div>
                            <!-- /.card testimonial start -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}