{% extends "layout.html" %}
{% block content %}

    <div class="page-header ielts">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <h1 class="page-title">IELTS Coaching</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <!-- page breadcrumb -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">IELTS Coaching </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page breadcrumb -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="content-area">
                        <h2>About IELTS Coaching</h2>
                        <p class="lead"> The International English Language Testing System (IELTS) measures the language proficiency of people who want to study or work where English is used as a language of communication</p>
                        <p> IELTS is available in: Academic - for people applying for higher education or professional registration, and General Training for those migrating to Australia, Canada and the UK, or applying for secondary education, training programmes and work experience in an English-speaking environment.</p>
                        <h2>How to Prepare for IELTS</h2>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Listening</h3>
                                <p>There are four sections in the listening test. Each section has 10 questions, making a total of 40 questions. The sections become progressively harder. The answers to the questions come in the same order as the information on the recording.</p>
                            </div>
                        </div>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Reading</h3>
                                <p>The reading test has three sections, which means you need to read three different texts. There are several questions for each section and you get 60 minutes to read the texts and answer all the questions.</p>
                            </div>
                        </div>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Writing</h3>
                                <p>The writing component of the IELTS exam is designed to assess how you “write a response appropriately, organise ideas and use a range of vocabulary and grammar accurately.It comprises two tasks and candidates have 60 minutes to answer them.</p>
                            </div>
                        </div>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Speaking</h3>
                                <p>The Speaking test, you will be given a card with a topic. You will be given one minute to take notes on the topic and will be given a pencil and paper to prepare your response, you will then speak on the topic for two minutes..</p>
                            </div>
                        </div>
                        <div class="card-light mb30">
                            <div class="card-light-body">
                                <h3>IELTS Eligibility</h3>
                                <p>For taking the IELTS Exam, your minimum age should be at least 16 years & you must have a valid passport. You will be eligible to take the exam if you fall into one of the categories: Planning to study in UK/Australia/Canada/New Zealand/USA.</p>
                                <h4>Some points to remember</h4>
                                <ul class="listnone check-circle">
                                    <li>IELTS is not recommended for candidates under the age of 16.</li>
                                    <li>It is eligible for students:</li>
                                    <li>Students who are applying to study in UK, Australia, Canada, New Zealand and US.</li>
                                    <li>Medical professionals planning to work or follow further study in the UK, Australia or US.</li>
                                    <li>People planning to emigrate to Canada, Australia or New Zealand.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bg-light pinside30 mb30">
                            <h2>Opening up a world of opportunity.</h2>
                            <p>Our expertise can help you get ready for IELTS wherever you are in the world.</p>
                            <a href="#" class="btn btn-default">Get Free Assessment</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="sidebar">
                        <div class="widget widget-quote-form bg-yellow">
                            <h3 class="form-title">Free Assessment</h3>
                            <p class="form-text">Find out your options for coaching by completing a free online assessment.</p>
                            <form class="sidebar-quote-form" method="post" enctype="multipart/form-data" action="{{ url_for('handle_form_data') }}">
                               
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="yourname">Your Name</label>
                                    <div class="">
                                        <input id="yourname" name="yourname" type="text" placeholder="Your Name" class="form-control" required="">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="email">Email</label>
                                    <div class="">
                                        <input id="email" name="email" type="email" placeholder="Email" class="form-control" required="">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="mobileno">Mobile No</label>
                                    <div class="">
                                        <input id="mobileno" name="mobileno" type="number" placeholder="Mobile No" class="form-control" required="">
                                    </div>
                                </div>
                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="message">Message</label>
                                    <div class="">
                                        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default btn-lg btn-block">Book My Free Assessment</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}