{% extends "layout.html" %}
{% block content %}

    <div class="page-header pte">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <h1 class="page-title">PTE Coaching</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <!-- page breadcrumb -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">PTE Coaching</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page breadcrumb -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="content-area">
                        <h2>About PTE Coaching</h2>
                        <p class="lead"> Pearson Language Test is one of the many language tests held by Pearson PLC. The test is most widely used in United Kingdom and its allies like Canada & Australia.</p>
                        <p>Many reputed universities such as London Business School, Harvard Business School, Stanford Graduate School of Business, Yale University accept PTE scored. For studying in Spain, France, and China, taking PTE is a smart choice. The score scale goes from 10 to 90 which is equivalent to 9.0 band on IELTS and 120 on Internet-based TOEFL.</p>
                        <h2>How to Prepare for PTE</h2>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Listening</h3>
                                <p>You will have between 45 and 57 minutes for the PTE listening test which is the final part of the test. The actual length depends on the combination of items you get. Every test is different.</p>
                            </div>
                        </div>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Reading</h3>
                                <p>PTE Reading is the second section of the test and will take approximately 30-40 minutes. It includes 5 tasks in total. The reading materials for this section are all authentic texts about a variety of academic subjects, including humanities, natural sciences and social sciences.</p>
                            </div>
                        </div>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Writing</h3>
                                <p>You need to write a summary of the given paragraphs on a particular topic. You have 10 minutes to finish the summary.</p>
                            </div>
                        </div>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Speaking</h3>
                                <p>Your speaking skills will be judged by getting you the questions that ask you to repeat the sentences spoken in an audio clip, respond to the questions asked, and summarize the passages on academic topics..</p>
                            </div>
                        </div>
                        <div class="card-light mb30">
                            <div class="card-light-body">
                                <h3>PTE Eligibility</h3>
                                <p>In order to take the PTE Academic test, the candidate must be at least 16 years old. Candidates below 18 years of age need to take a parental consent form signed by either parents or guardians before taking the test. Candidates can download the consent form from the official website of the PTE Academic Exam.</p>
                                <h4>Some point of classroom sesstions</h4>
                                <ul class="listnone check-circle">
                                    <li>PTE is not recommended for candidates under the age of 16.</li>
                                    <li>It is eligible for students:</li>
                                    <li>Students who are applying to study in UK, Australia, Canada, New Zealand and US.</li>
                                    <li>Medical professionals planning to work or follow further study in the UK, Australia or US.</li>
                                    <li>People planning to emigrate to Canada, Australia or New Zealand.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bg-light pinside30 mb30">
                            <h2>Opening up a world of opportunity.</h2>
                            <p>Our expertise can help you get ready for PTE wherever you are in the world.</p>
                            <a href="{{ url_for('contactus') }}" class="btn btn-default">Get Free Assessment</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="sidebar">
                        <div class="widget widget-quote-form bg-yellow">
                            <h3 class="form-title">Free Assessment</h3>
                            <p class="form-text">Find out your options for coaching by completing a free online assessment.</p>
                            <<form class="sidebar-quote-form" method="post" enctype="multipart/form-data" action="{{ url_for('handle_form_data') }}">

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="yourname">Your Name</label>
                                    <div class="">
                                        <input id="yourname" name="yourname" type="text" placeholder="Your Name" class="form-control" required="">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="email">Email</label>
                                    <div class="">
                                        <input id="email" name="email" type="email" placeholder="Email" class="form-control" required="">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="mobileno">Mobile No</label>
                                    <div class="">
                                        <input id="mobileno" name="mobileno" type="number" placeholder="Mobile No" class="form-control" required="">
                                    </div>
                                </div>
                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="message">Message</label>
                                    <div class="">
                                        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default btn-lg btn-block">Book My Free Assessment</button>
                            </form>
                        </div>
                        <div class="widget-testimonial">
                            <div class="card-testimonial card-testimonial-light">
                                <!-- card testimonial start -->
                                <div class="card-testimonial-img"><img src="static/images/solvia_refer.jpg" width="90" height="90" alt="" class="rounded-circle"></div>
                                <div class="card-testimonial-content">
                                    <p class="card-testimonial-text">“Harpreet Academy is one of the finest institute for PTE coaching, as I have taken the In-class coaching for 20 days and got my desired score. Harpreet mam and Sharan mam provided me immense guidance and necessary material to crack the test. . ”</p>
                                </div>
                                <div class="card-testimonial-info">
                                    <span class="card-testimonial-flag"><img src="static/images/country/canada.svg" class="flag-small"></span>
                                    <h4 class="card-testimonial-name">Solvia</h4>
                                    <p><small>( Canada Students Visa )</small></p>
                                    <p><small> PTE Score 7.5 </small></p>
                                </div>
                            </div>
                            <!-- /.card testimonial start -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}