{% extends "layout.html" %}
{% block content %}

    <div class="page-header generalenglish">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <h1 class="page-title">General English</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <!-- page breadcrumb -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">General English</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page breadcrumb -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="content-area">
                        <h2>About General English</h2>
                        <p class="lead"> If you just started learning English, you first need to know some basic rules of the language.</p>
                        <p> Developing a solid foundation in English grammar will not only help you create your own sentences correctly but will also make it easier to improve your communication skills in both spoken and written English. Study all the lessons below and incorporate your learning into your speaking and writing.</p>
                        <h2>How to Study English Fundamentals</h2>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Listening</h3>
                                <p> Listening is an important part of communication. If you do not understand what the other person is saying, then you will not know how to respond.</p>
                            </div>
                        </div>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Reading</h3>
                                <p>English, often find reading difficult and not much fun. Students often focus too much on the meaning of individual words or word accuracy[1] and forget to try to make inferences (guess the meaning of a word or idea) and by doing, so end up not understanding parts of the text and reading slower.</p>
                            </div>
                        </div>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Writing</h3>
                                <p>When you are beginning to learn English, it is really important to write regularly. It is easy to forget about English writing, though, since most learners are focused on topics like vocabulary and grammar.</p>
                            </div>
                        </div>
                        <div class="feature-blurb mb30">
                            <div class="feature-content">
                                <h3 class="feature-title">Speaking</h3>
                                <p> English now spans across countries and cultures, and the ability to speak it well will open many doors for your career and social life. The more fluent you are in English, the more interesting, exciting and insightful conversations you can have.</p>
                            </div>
                        </div>
                        <div class="card-light mb30">
                            <div class="card-light-body">
                                <h3>How General English Coaching Benefits You?</h3>
                                <p>Learning a new language is always an excellent idea. It provides you incredible benefits that come with the backing of science! One of the most useful languages to learn is English.</p>
                                <h4>Some important points</h4>
                                <ul class="listnone check-circle">
                                    <li>Learning english keeps your brain sharp.</li>
                                    <li>Make more money</li>
                                    <li>Learn for Travel</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bg-light pinside30 mb30">
                            <h2>Opening up a world of opportunity.</h2>
                            <p>Our expertise can help you get ready for IELTS / PTE wherever you are in the world.</p>
                            <a href="#" class="btn btn-default">Get Assessment</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="sidebar">
                        <div class="widget widget-quote-form bg-yellow">
                            <h3 class="form-title">Free Assessment</h3>
                            <p class="form-text">Find out your options for coaching by completing a free online assessment.</p>
                            <form class="sidebar-quote-form" method="post" enctype="multipart/form-data" action="{{ url_for('handle_form_data') }}">

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="yourname">Your Name</label>
                                    <div class="">
                                        <input id="yourname" name="yourname" type="text" placeholder="Your Name" class="form-control" required="">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="email">Email</label>
                                    <div class="">
                                        <input id="email" name="email" type="email" placeholder="Email" class="form-control" required="">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="mobileno">Mobile No</label>
                                    <div class="">
                                        <input id="mobileno" name="mobileno" type="number" placeholder="Mobile No" class="form-control" required="">
                                    </div>
                                </div>
                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="message">Message</label>
                                    <div class="">
                                        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default btn-lg btn-block">Book My Free Assessment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}