{% extends "layout.html" %}
{% block content %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <h1 class="page-title">Contact us</h1>
                    <p class="page-description">Contact us today for your inquiry, We will happy to assist you.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <!-- page breadcrumb -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page breadcrumb -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-7 col-sm-12 col-12">
                    <div class="contact-form-head">
                        <h2 class="mb0">Leave a Message Here</h2>
                        <p>We will connect you to Harpreet Academy Consultant ASAP.</p>
                    </div>
                    <div class="contact-form mt30">
                        <form method="post" action="">
                                <div class="form-group">

                                    {{ form.hidden_tag() }}
                                </div>

                                <div class="form-group">

                                        {{ form.name.label }}<br>
                                        {{ form.name(size=35) }}
                                </div>
                                <div class="form-group">
                                        {{ form.email.label }}<br>
                                        {{ form.email(size=35) }}
                                </div>
                                <div class="form-group">
                                        {{ form.phone.label }}<br>
                                        {{ form.phone(size=35) }}
                                </div>
                                <div class="form-group">
                                        {{ form.subject.label }}<br>
                                        {{ form.subject(size=35) }}
                                </div>
                                <div class="form-group">
                                        {{ form.message.label  }}<br>
                                        {{ form.message(size=35) }}
                                </div>
                                <div class="form-group">
                                     {{ form.submit() }}
                                </div>
                        </form>
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-6 offset-lg-1 col-lg-5 col-md-5 col-sm-12 col-12">
                    <h2>Quick Contact</h2>
                    <p>We are pleased to speak with you to discuss your qualifications and options under the IELTS / PTE tests exams and answer any questions or concerns you may have.</p>
                    <h4 class="mb0">Phone</h4>
                    <p>+91-9888077791, +91-8437963879</p>
                    <div class="row mb30">
                        <div class="col">
                            <h4 class="mb0">Email</h4>
                            <p>sainihappyy@gmail.com</p>
                        </div>
                    </div>
                    <div class="row mb20">
                        <div class="col mb10">
                            <h4 class="mb0">Inquire with us</h4>
                            <p>sainihappyy@gmail.com</p>
                        </div>
                        <div class="col mb10">
                            <h4 class="mb0">Send your feedback</h4>
                            <p>sainihappyy@gmail.com</p>
                        </div>
                    </div>
                    <div class="row mb20">
                        <div class="col mb10">
                            <h4 class="mb0">Work with us</h4>
                            <p>sainihappyy@gmail.com</p>
                        </div>
                        <div class="col mb10">
                            <h4 class="mb0">For Alliance with us</h4>
                            <p>sainihappyy@gmail.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="mb0">Institute Location</h4>
                            <p>Tibri Bye Pass Crossing, Near HRA Public School, Gurdaspur</p>
                            <a href="#" class="btn-link-primary">View our all office & locations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/navigation.js"></script>
    <script src="static/js/google-map.js"></script>


{% endblock %}