{% extends "layout.html" %}
{% block content %}
    <div class="slider">
        <!-- slider -->
        <div class="slider-carsoule owl-carousel owl-theme">
            <div class="item">
                <img src="static/images/slider-3.jpg" alt="Immigration Consulting Responsive Website Template">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-sm-8 col-md-9 col-8">
                            <div class="slider-captions">
                                <h1 class="slider-title dotted-line">IELTS / PTE / TOFEL / English Speaking</h1>
                                <p class="slider-text"> High-stakes English test for study, migration or work.</p>
                                <a href="#" class="btn btn-default btn-lg">Start Coaching Today</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/slider.jpg" alt="Immigration visa consultant HTML5 Template">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-sm-8 col-md-9 col-8">
                            <div class="slider-captions">
                                <h1 class="slider-title dotted-line">Immigration &amp; Visa Consultants</h1>
                                <p class="slider-text">Proin venenatis orci felis, tincidunt sagittis mi lacinia vitae. Vestibulum erat nisi, tincidunt vel lobortis eu, imperdiet eu sapien.</p>
                                <a href="#" class="btn btn-default btn-lg">BOOK A CONSULTATION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/slider-2.jpg" alt="Immigration Consulting Bootstrap Responsive Website Template">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-sm-8 col-md-9 col-8">
                            <div class="slider-captions">
                                <h1 class="slider-title dotted-line">World Most Trusted Immigration Company</h1>
                                <p class="slider-text">Vestibulum erat nisi, tincidunt vel lobortis eu, imperdiet eu sapien. Proin venenatis orci felis, tincidunt sagittis mi lacinia vitae. </p>
                                <a href="#" class="btn btn-default btn-lg">BOOK A CONSULTATION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider -->
    <div class="slanting-pattern"></div>
    <div class="space-large">
        <!-- Why choose us section -->
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2>Why Visapress Immigration?</h2>
                        <p> Since our founding, our primary goal has been to provide immigration in all over country and universities. Our impact is speak louder than our word.</p>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="impact-section">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="impact-block">
                            <div class="impact-icon mb40 icon-default"><i class="icon-student-1"></i></div>
                            <h2 class="impact-title">480+</h2>
                            <p class="impact-text">Students</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="impact-block">
                            <div class="impact-icon mb40 icon-default"><i class="icon-diploma"></i></div>
                            <h2 class="impact-title">90+</h2>
                            <p class="impact-text"> Immigration</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="impact-block">
                            <div class="impact-icon mb40 icon-default"><i class="icon-university"></i></div>
                            <h2 class="impact-title">30+</h2>
                            <p class="impact-text">Universities</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="impact-block">
                            <div class="impact-icon mb40 icon-default"><i class="icon-earth-globe"></i></div>
                            <h2 class="impact-title">20+</h2>
                            <p class="impact-text">Country</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why choose us section -->
    <div class="space-large bg-light">
        <!-- Service section -->
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="overlay-section-block">
                        <div class="section-title text-center">
                            <!-- section title start-->
                            <h2>Our Immigration Services</h2>
                            <p>Welcome to the Immigration Services Center, the most efficient Visa Service Provider for all immigration and coaching. Checkout our service for country.</p>
                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
            </div>
            <div class="mt80">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-block">
                            <!-- service block -->
                            <div class="service-content">
                                <!-- service content -->
                                <h3 class="service-title"><a href="#" class="title">Immigration / PR Visa</a></h3>
                                <p>Suspendisse lobortis, eros ac blandit efficituunc mi aliquet justo, sit amet aliquet nunc risus a felis.</p>
                                <a href="#" class="btn-link-primary">Read More..</a>
                            </div>
                            <!-- /.service block -->
                            <div class="slanting-pattern"></div>
                        </div>
                        <!-- /.service block -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-block">
                            <!-- service block -->
                            <div class="service-content">
                                <!-- service content -->
                                <h3 class="service-title"><a href="#" class="title">Review & Appeal</a></h3>
                                <p>Quam semper simple dummy eleifend lorem in imperdiet mauris estibulum et efficitur lorem ipsum.</p>
                                <a href="#" class="btn-link-primary">Read More..</a>
                            </div>
                            <!-- /.service block -->
                            <div class="slanting-pattern"></div>
                        </div>
                        <!-- /.service block -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-block">
                            <!-- service block -->
                            <div class="service-content">
                                <!-- service content -->
                                <h3 class="service-title"><a href="#" class="title">Course Training</a></h3>
                                <p>Duis id quam semper, eleifend lorem mpeauris simple estibulum et efficitur nunc simply dummy.</p>
                                <a href="#" class="btn-link-primary">Read More..</a>
                            </div>
                            <!-- /.service block -->
                            <div class="slanting-pattern"></div>
                        </div>
                        <!-- /.service block -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-block">
                            <!-- service block -->
                            <div class="service-content">
                                <!-- service content -->
                                <h3 class="service-title"><a href="#" class="title">Job Assistance</a></h3>
                                <p>Suspendisse lobortis eros ac blan mi aliquet justo sit amet aliquet nunc simple dummy content risus a felis.</p>
                                <a href="#" class="btn-link-primary">Read More..</a>
                            </div>
                            <!-- /.service block -->
                            <div class="slanting-pattern"></div>
                        </div>
                        <!-- /.service block -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Service section -->
    <div class="space-medium">
        <!-- Testimonial section -->
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2>Join students over 1000+ like you</h2>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="testimonial-img">
                        <img src="static/images/testimonial-fancy-img.png" alt="Creative and simple customer testimonial page design" class="img-fluid">
                        <span class="testimonial-badge"><i class="fa fa-quote-right"></i></span>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-12">
                    <div class="testimonial-block">
                        <!-- testimonial block -->
                        <div class="testimonial-content">
                            <p class="testimonial-text">“Lorem ipsum dolor sit amet, consectetur dipi sicing elit, simple sed do eiusmod Incididunt ut labore dolore magna aliquenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut greate experience with visapress.”</p>
                        </div>
                        <div class="testimonial-info">
                            <h4 class="testimonial-name">Anita Patel</h4>
                            <span class="testimonial-meta">( Score : 8.5 )</span>
                        </div>
                        <a href="#" class="btn btn-default btn-lg"> View All testimonial</a>
                    </div>
                    <!--/. testimonial block -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.Testimonial section -->
    <div class="space-medium pdb0">
        <!-- Partner section -->
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2>Our Partner Colleges</h2>
                        <p>We partner with over 60+ colleges in 14 states that are committed to helping highly-motivated like you, complete your education.</p>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="space-medium">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/partner-logo-1.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/partner-logo-2.jpg" alt="Logo Carousel & List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/partner-logo-3.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/partner-logo-4.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/partner-logo-5.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/partner-logo-1.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/partner-logo-6.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <img src="static/images/partner-logo-2.jpg" alt="Display client logos, supporters, partners or sponsors logos responsive carousel with the help of a shortcode,  in your website." class="img-fluid grayscale">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center"><a href="#" class="btn btn-default btn-lg">Our partner colleges</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Partner section -->
    <div class="space-medium bg-light">
        <!-- News section -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-title mb60">
                        <!-- section title start-->
                        <h2>Resources &amp; News</h2>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="post-block">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <!-- post block -->
                                <div class="post-img mb20">
                                    <a href="blog-single.html"><img src="static/images/post-square-img.jpg" alt="best business consulting websites" class="img-fluid"></a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                                <div class="post-content">
                                    <h3 class="post-title"><a href="blog-single.html" class="title"> Visa &amp; Immigration Consultant Templates </a></h3>
                                    <p class="meta"> <span class="meta-date"> 1 Feb, 2018</span>
                                        <span class="meta-comments"><a href="#" class="meta-link">Comments 6</a></span>
                                    </p>
                                    <p>Immigration Services Website Templates maecenas aliquam ntempor erat congue. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.post block -->
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="post-block">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <!-- post block -->
                                <div class="post-img mb20">
                                    <a href="blog-single.html"><img src="static/images/post-square-img-2.jpg" alt="Immigration Services Website Templates " class="img-fluid"></a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                                <div class="post-content">
                                    <h3 class="post-title"><a href="blog-single.html" class="title"> Website Templates for Immigration Company</a></h3>
                                    <p class="meta"> <span class="meta-date"> 1 Feb, 2018</span><span class="meta-comments"><a href="#" class="meta-link">Comments 10</a></span>
                                    </p>
                                    <p>Website Templates for Immigration raesent non ventum feugiat nibh simple dummy content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.post block -->
                </div>
            </div>
        </div>
    </div>
    <!-- /. News section -->
    <!-- /.tiny footer -->
     <!-- Search Modal -->


{% endblock %}