{% extends "layout.html" %}
{% block content %}
    <div class="slider">
        <!-- slider -->
        <div class="slider-carsoule owl-carousel owl-theme">
            <div class="item">
                <img src="static/images/resize-ielts.jpg" alt="IELTS PTE Consulting">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-sm-8 col-md-9 col-8">
                            <div class="slider-captions">
                                <h1 class="slider-title dotted-line">IELTS / PTE / TOFEL / English Speaking</h1>
                                <p class="slider-text"> High-stakes English test for study, migration or work.</p>
                                <a href="{{ url_for('contactus') }}" class="btn btn-default btn-lg">Start Coaching Today</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/slider-study-abroad.jpg" alt="IELTS PTE consultant">

            </div>
            <div class="item">
                <img src="static/images/banner1.jpg" alt="IELTS PTE Consulting">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-sm-8 col-md-9 col-8">
                            <div class="slider-captions">
                                <h1 class="slider-title dotted-line">Get Your Desired Score & Study Abroad </h1>
                                <p class="slider-text">One of the best institute in Gurdaspur, We produced over 60+ successful PTE results in short period of time, Our success stories tell us about all. </p>
                                <a href= "{{ url_for('contactus') }}" class="btn btn-default btn-lg">BOOK A CONSULTATION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider -->
    <div class="slanting-pattern"></div>
    <div class="space-large">
        <!-- Why choose us section -->
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2>Why People Love Harpreet Academy?</h2>
                        <p> We provide the top-rated PTE training to the candidates to make their career journey smooth. Since our founding, our primary goal has been helping students to get desired score in <br>first attempt.</p>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="impact-section">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="impact-block">
                            <div class="impact-icon mb40 icon-default"><i class="icon-student-1"></i></div>
                            <h2 class="impact-title">120+</h2>
                            <p class="impact-text">Students</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="impact-block">
                            <div class="impact-icon mb40 icon-default"><i class="icon-diploma"></i></div>
                            <h2 class="impact-title">60+</h2>
                            <p class="impact-text"> Success Stories</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="impact-block">
                            <div class="impact-icon mb40 icon-default"><i class="icon-university"></i></div>
                            <h2 class="impact-title">4+</h2>
                            <p class="impact-text">Years Experience</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="impact-block">
                            <div class="impact-icon mb40 icon-default"><i class="icon-earth-globe"></i></div>
                            <h2 class="impact-title">350+</h2>
                            <p class="impact-text">Questions to Practice</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why choose us section -->
    <div class="space-large bg-light">
        <!-- Service section -->
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="overlay-section-block">
                        <div class="section-title text-center">
                            <!-- section title start-->
                            <h2>Our Coaching Services</h2>
                            <p>We solve all your problems that are related to IELTS / PTE / English Speaking. Our Coaching service in Gurdaspur provides the service to your needs, so that you can get desired results in first attempt.</p>
                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
            </div>
            <div class="mt80">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-block">
                            <!-- service block -->
                            <div class="service-content">
                                <!-- service content -->
                                <h3 class="service-title"><a href="{{ url_for('pte') }}" class="title">PTE Training</a></h3>
                                <p>We offer high-quality PTE training to students in order to improve their listening, speaking, reading and writing skills to get your desired points.</p>
                                <a href="{{ url_for('pte') }}" class="btn-link-primary">Read More..</a>
                            </div>
                            <!-- /.service block -->
                            <div class="slanting-pattern"></div>
                        </div>
                        <!-- /.service block -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-block">
                            <!-- service block -->
                            <div class="service-content">
                                <!-- service content -->
                                <h3 class="service-title"><a href="{{ url_for('ielts') }}" class="title">IELTS Training</a></h3>
                                <p>We offer high-quality IELTS training to students in order to improve their listening, speaking, reading and writing skills to get your desired points.</p>
                                <a href="{{ url_for('ielts') }}" class="btn-link-primary">Read More..</a>
                            </div>
                            <!-- /.service block -->
                            <div class="slanting-pattern"></div>
                        </div>
                        <!-- /.service block -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-block">
                            <!-- service block -->
                            <div class="service-content">
                                <!-- service content -->
                                <h3 class="service-title"><a href="{{ url_for('generalenglish') }}" class="title">Speaking English</a></h3>
                                <p>We provide English speaking training which help students to get desired score in exam, we provide tips & tricks which get you desired score in short period of time.</p>
                                <a href="{{ url_for('generalenglish') }}" class="btn-link-primary">Read More..</a>
                            </div>
                            <!-- /.service block -->
                            <div class="slanting-pattern"></div>
                        </div>
                        <!-- /.service block -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-block">
                            <!-- service block -->
                            <div class="service-content">
                                <!-- service content -->
                                <h3 class="service-title"><a href="{{ url_for('generalenglish') }}"  class="title">General English</a></h3>
                                <p>Understanding of basic fundamentals of english is key stone for any exam, we provide training in english grammar, vocabulary as foundation to other courses.</p>
                                <a href="{{ url_for('generalenglish') }}" class="btn-link-primary">Read More..</a>
                            </div>
                            <!-- /.service block -->
                            <div class="slanting-pattern"></div>
                        </div>
                        <!-- /.service block -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Service section -->
    <div class="space-medium">
        <!-- Testimonial section -->
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2>Join students over 100+ like you</h2>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="testimonial-img">
                        <img src="static/images/vishal_saini.jpg" alt="Creative and simple customer testimonial page design" class="img-fluid">
                        <span class="testimonial-badge"><i class="fa fa-quote-right"></i></span>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-12">
                    <div class="testimonial-block">
                        <!-- testimonial block -->
                        <div class="testimonial-content">
                            <p class="testimonial-text">“If you are looking to score your dream points in PTE in the first go than Harpreet Academy is the place for you. Harpreet and her staff are so dedicated towards each and every student which further helps students to score his desired result. The material and the tips, tricks provided here has been great value, I highly recommend Harpreet Academy!”</p>
                        </div>
                        <div class="testimonial-info">
                            <h4 class="testimonial-name">Vishal Saini</h4>
                            <span class="testimonial-meta">( Score : 7.0 )</span>
                        </div>
                        <a href="{{ url_for('videotestimonials') }}" class="btn btn-default btn-lg"> View All testimonial</a>
                    </div>
                    <!--/. testimonial block -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.Testimonial section -->
    <div class="space-medium pdb0">
        <!-- Partner section -->
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2>Meet Our Champions</h2>
                        <p>We have produce over 60+ successful results who have made it in the PTE exam.</p>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="space-medium">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/jagmeet-singh-without-border.jpg" width="1000" height="1050" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/Jaskaran-Singh-without-border.jpg" alt="Logo Carousel & List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/ajay-kumar-without-border.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/Lovepreet-Kaur-without-border.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/Manpreet-Kaur--without-border.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/Navjot-Kaur-Sidhu-without-border.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/sovia-without-border.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <img src="static/images/vishal-saini-without-border.jpg" alt="Display client logos, supporters, partners or sponsors logos responsive carousel with the help of a shortcode,  in your website." class="img-fluid grayscale">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center"><a href="{{ url_for('videotestimonials') }}" class="btn btn-default btn-lg">Our Success Stories</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Partner section -->
    <div class="bg-section bg-background mb60" style="background-image:url('static/images/slider-smile.jpg');">
            <div class="cta-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12">
                            <div class="cta-caption">
                                <h1>Interested in 7 Days FREE  <br> Coaching ?</h1>
                                <p class="mb30"> Join the best PTE / IELTS coaching in Gurdaspur.</p>
                                <a href="{{ url_for('contactus') }}" class="btn btn-default">BOOK A CONSULTATION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /. News section -->
    <!-- /.tiny footer -->
     <!-- Search Modal -->


{% endblock %}