<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="best consulting website template">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <title>VisaPress - Visa Immigration Consulting Website Template</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome 4.0 CSS -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <!-- Google Font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700%7cPT+Serif:400,400i,700,700i" rel="stylesheet">
    <!-- owl.carousel.min.css -->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
    <!-- fontello.css -->
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="topbar">
        <!-- topbar -->
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-none d-sm-none d-lg-block d-xl-block">
                    <p class="welcome-text">Welcome to visapress a immigration company website template</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="header-block">
                        <span class="header-link d-none d-xl-block"><a href="#" class="anchor-link">Talk to Our Expert</a></span>
                        <span class="header-link">+1 800 123 4567</span>
                        <span class="header-link"> <button type="submit" class="" data-toggle="modal" data-target="#searchModal"> <i class="fa fa-search"></i></button></span>
                        <span class="header-link"><a href="#" class="btn btn-default btn-sm">Apply Now</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.topbar -->
   <div class="header-regular">
        <!-- header classic -->
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12"><a href="index-3.html" class=""><img src="images/logo-2.png" alt="Visapress an Immigration and Visa Consulting Website Template"></a></div>
                <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6 col-12 header-right">
                    <div class="row">
                        <div class="call-block col-xl-4 col-lg-6">
                            <div class="header-icon"> <i class="fa fa-phone"></i></div>
                            <div class="header-block-info">
                                <div class="text-content">
                                    <div class="text-head">(000) 000-0000</div>
                                    <div class="text-small">Call for a Immigration</div>
                                </div>
                            </div>
                        </div>
                        <div class="address-block col-xl-8 col-lg-6 d-none d-sm-none d-lg-block d-xl-block">
                            <div class="header-icon"> <i class="fa fa-map-marker"></i></div>
                            <div class="header-block-info">
                                <div class="text-head">Our Location</div>
                                <div class="text-address">
                                    85 Anchorite Way
Arkles Bay
Whangaparaoa 0932.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.header classic -->
    <div class="navigation-regular">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div id="navigation-regular" class="">
                        <!-- navigation -->
                      <ul>
                            <li><a href="#">Home</a>
                                <ul>
                                    <li><a href="index.html">Homepage v1</a></li>
                                    <li><a href="index-2.html">Homepage v2</a></li>
                                    <li><a href="index-3.html">Homepage v3</a></li>
                                    <li><a href="index-4.html">Homepage v4</a></li>
                                    <li><a href="index-5.html">Homepage v5</a></li>
                                    <li><a href="index-6.html">Homepage v6</a></li>
                                    <li><a href="#">Landing pages</a>
                                        <ul>
                                            <li><a href="landing-page-v1.html">Landing page v1</a></li>
                                            <li><a href="landing-page-country-v1.html">Landing page country v1</a></li>
                                            <li><a href="landing-page-ebook-v3.html">Landing page v3 - eBook</a></li>
                                            <li><a href="landing-page-webinar.html">Landing page v4 - Webinars</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Coaching</a>
                                <ul>
                                    <li><a href="coaching-list-page.html">Coaching List</a></li>
                                    <li><a href="coaching-sidebar.html">Coaching Sidebar</a></li>
                                    <li><a href="coaching-full-page.html">Coaching Full Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Visas</a>
                                <ul>
                                    <li><a href="visa-immigration-list-page.html">Visa List Page</a></li>
                                    <li><a href="visa-immigration-single-page.html">Visa Single Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Country</a>
                                <ul>
                                    <li><a href="country-list-page.html">Country List Page</a></li>
                                    <li><a href="country-img-list-page.html">Country List Page v2 </a></li>
                                    <li><a href="country-single-page.html">Country Single Page</a></li>
                                    <li><a href="country-single-full-page.html">Country Full Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">About us </a>
                                <ul>
                                    <li><a href="#">About Us</a>
                                        <ul>
                                            <li><a href="about-us-page-v1.html">About us v1</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="founder-page.html">Founder page</a></li>
                                    <li><a href="agent-list-page.html">Agent List</a></li>
                                    <li><a href="agent-single-page.html">Agent Single</a></li>
                                    <li><a href="partner-university-page.html">Partner University Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Features </a>
                                <ul>
                                    <li><a href="#">Testimonial</a>
                                        <ul>
                                            <li><a href="customer-review-page-v1.html">Customer Review Page v1</a></li>
                                            <li><a href="customer-review-score-page-v2.html">Customer Review page v2</a></li>
                                            <li><a href="video-testimonial-page.html">Video Testimonial</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Email List Builder</a>
                                        <ul>
                                            <li><a href="list-builder-embeded.html"> List Builder Embeded </a></li>
                                            <li><a href="list-builder-popup.html">List Builder Popup


</a></li>
                                            <li><a href="list-builder-scroll-box.html">List Builder Scroll Box </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Component</a>
                                        <ul>
                                            <li><a href="accordion-page.html">Accordion</a></li>
                                            <li><a href="tabs-page.html">Tabs</a></li>
                                            <li><a href="alert-page.html">Alert</a></li>
                                            <li><a href="table-page.html">Tables</a></li>
                                            <li><a href="button-page.html">Buttons</a></li>
                                            <li><a href="social-media-page.html">Social Media</a></li>
                                            <li><a href="call-to-action-page.html">Call To Actions</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Gallery</a>
                                        <ul>
                                            <li><a href="gallery-popup.html">Gallery Popup</a></li>
                                            <li><a href="gallery-filterable.html">Gallery Filterable</a></li>
                                            <li><a href="gallery-carousel.html">Gallery Carousel</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">404 Error</a>
                                        <ul>
                                            <li><a href="error-page.html">404 Error 1</a></li>
                                            <li><a href="error-page-v2.html">404 Error 2</a></li>
                                            <li><a href="error-page-v3.html">404 Error 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="faq-page.html">Faq</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog </a>
                                <ul>
                                    <li><a href="blog-page.html">Blog Regular</a></li>
                                    <li><a href="blog-3-column-page.html">Blog Listing 3 Column</a></li>
                                    <li><a href="blog-single-page.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Contactus </a>
                                <ul>
                                    <li><a href="contact-page.html">Contact Us</a></li>
                                    <li><a href="location-page.html">Location</a></li>
                                    <li><a href="free-assessment-enquiry.html">Enquiry Page</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.header classic -->
    <div class="slider">
        <!-- slider -->
        <div class="slider-carsoule owl-carousel owl-theme">
            <div class="item">
                <img src="images/slider-2.jpg" alt="Immigration Consulting Bootstrap Responsive Website Template">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-sm-8 col-md-9 col-8">
                            <div class="slider-captions">
                                <h1 class="slider-title dotted-line">Want to study abroad ?</h1>
                                <p class="slider-text hidden-xs">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                <a href="#" class="btn btn-primary btn-lg">BOOK A CONSULTATION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="images/slider-3.jpg" alt="Immigration Consulting Responsive Website Template">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-sm-8 col-md-9 col-8">
                            <div class="slider-captions">
                                <h1 class="slider-title dotted-line">IELTS / PTE / TOFEL / English Speaking</h1>
                                <p class="slider-text hidden-xs"> High-stakes English test for study, migration or work.</p>
                                <a href="#" class="btn btn-primary btn-lg">BOOK A CONSULTATION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="images/slider.jpg" alt="Immigration visa consultant HTML5 Template">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-sm-8 col-md-9 col-8">
                            <div class="slider-captions">
                                <h1 class="slider-title dotted-line">Immigration &amp; Visa Consultants</h1>
                                <p class="slider-text hidden-xs">Vestibulum erat nisi, tincidunt vel lobortis eu, imperdiet eu sapien. Proin venenatis orci felis, tincidunt sagittis mi lacinia vitae.</p>
                                <a href="#" class="btn btn-primary btn-lg">BOOK A CONSULTATION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider -->
    <div class="slanting-pattern"></div>
    <div class="space-large">
        <!-- Why choose us section -->
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2>Immigration - Choose your country!</h2>
                        <p> Fusce venenatis lectus non est congueitae malesuada neque lacinia. </p>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="space-small pdb0">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="country-img-thumbnail">
                            <div class="country-img"><a href="#"><img src="images/country-1.jpg" alt="canada visa" class="img-responsive"></a>
                                <span class="country-flag-icon"><img src="images/country/canada.svg" alt=""></span>
                            </div>
                            <div class="country-content">
                                <h3><a href="#" class="title">Canada</a></h3>
                                <p>Studying In The canada The gen erom repetition jected humour or non-characteristic words etc.</p>
                                <a href="#" class="btn-link-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="country-img-thumbnail">
                            <div class="country-img"><a href="#"><img src="images/country-2.jpg" alt="canada visa" class="img-responsive"></a>
                                <span class="country-flag-icon"><img src="images/country/australia.svg" alt=""></span>
                            </div>
                            <div class="country-content">
                                <h3><a href="#" class="title">Australia</a></h3>
                                <p>Studying In The Australia The gen erom repetition jected humour or non-characteristic words etc.</p>
                                <a href="#" class="btn-link-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="country-img-thumbnail">
                            <div class="country-img"><a href="#"><img src="images/country-3.jpg" alt="United Kingdom visa immigration" class="img-responsive"></a>
                                <span class="country-flag-icon"><img src="images/country/united-kingdom.svg" alt=""></span>
                            </div>
                            <div class="country-content">
                                <h3><a href="#" class="title">United Kingdom</a></h3>
                                <p>Studying In The United Kingdom the gen eition jected humour or non-characteristic words etc.</p>
                                <a href="#" class="btn-link-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="country-img-thumbnail">
                            <div class="country-img"><a href="#"><img src="images/country-4.jpg" alt="United Kingdom visa immigration" class="img-responsive"></a>
                                <span class="country-flag-icon"><img src="images/country/united-states-of-america.svg" alt=""></span>
                            </div>
                            <div class="country-content">
                                <h3><a href="#" class="title">United States</a></h3>
                                <p>Studying In The United States The gen erom repetition jected humour or non-characteristic words etc.</p>
                                <a href="#" class="btn-link-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light space-small">
        <!-- call to action -->
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-6 col-12">
                    <h2 class="mb10">Free online assessment</h2>
                    <p>Fusce venenatis lectus non est congue vitae malesuada neque lacinia. </p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-12 text-center">
                    <a href="#" class="btn btn-default btn-lg mt10">Get Free Assessment</a>
                </div>
            </div>
        </div>
    </div>
    <!-- call to action -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-7 col-sm-6 col-12">
                    <h2>About our immigration consulting</h2>
                    <p class="lead">We've been counselling students for Educational Opportunities in Foreign countries and have been helping them realise their dream of studying abroad.</p>
                    <p>Aenean vestibulum ornare sapien, at pharetra massa consectetur et. Aliquam sit amet ipsum a lectus laoreet tempor in id arcu. Fusce venenatis lectus non est congue, vitae malesuada neque lacinia. Maecenas dolor leo, dignissim accumsan tortor in, bibendum suscipit tellus.</p>
                    <a href="#" class="btn btn-default">About visa press</a> <a href="#" class="btn btn-primary">Contact us</a>
                </div>
                <div class="offset-xl-1 col-xl-5 offset-lg-1 col-lg-5 col-md-5 col-sm-6 col-12">
                    <div class="img-block">
                        <img src="images/about-img-1.png" alt="simple bootstrap template" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium pdb0">
        <!-- Testimonial section -->
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2>Join students over 1000+ like you</h2>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="space-small">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="testimonial-boxed">
                            <!-- testimonial boxed -->
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-4 col-12">
                                    <div class="testimonial-boxed-img">
                                        <img src="images/testimonial-cirlce-img.png" alt="Creative and simple customer testimonial page design" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-8 col-12">
                                    <div class="testimonial-boxed-block">
                                        <!-- testimonial block -->
                                        <div class="testimonial-boxed-content">
                                            <p class="testimonial-boxed-text">“Lorem ipsum dolor sit amet, consectetur dipi sicing elit, simple sed do eiusmod Incididunt ut labore dolore magna <strong> aliquenim ad minim veniam quis nostrud</strong> exercitation ullamco laboris nisi ut greate experience with visapress.”</p>
                                        </div>
                                        <div class="testimonial-boxed-info">
                                            <h4 class="testimonial-name">Eddie M. Browne</h4>
                                            <span class="testimonial-meta">
                                                <span class="testimonial-country"><img src="images/country/canada.svg" class="" alt=""></span>( Express Entry Canada )</span>
                                        </div>
                                    </div>
                                    <!--/. testimonial block -->
                                </div>
                            </div>
                        </div>
                        <!-- /.testimonial boxed -->
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="testimonial-boxed">
                            <!-- testimonial boxed -->
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-4 col-12">
                                    <div class="testimonial-boxed-img">
                                        <img src="images/testimonial-cirlce-img-1.png" alt="Creative and simple customer testimonial page design" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-8 col-12">
                                    <div class="testimonial-boxed-block">
                                        <!-- testimonial block -->
                                        <div class="testimonial-boxed-content">
                                            <p class="testimonial-boxed-text">“Exercitation ullamco laboris orem ipsum dolor sit amet, consectetur dipi sicing elit, simple sed do eiusmod Incididunt ut labore dolore magna aliquenim ad minim lorem ipsum is veniam quis nostrud nisi ut greate experience with visapress.”</p>
                                        </div>
                                        <div class="testimonial-boxed-info">
                                            <h4 class="testimonial-name">Gary L. Ridder</h4>
                                            <span class="testimonial-meta"> <span class="testimonial-country"><img src="images/country/united-states-of-america.svg" class="" alt=""></span> ( Students Visa USA )</span>
                                        </div>
                                    </div>
                                    <!--/. testimonial block -->
                                </div>
                            </div>
                        </div>
                        <!-- /.testimonial boxed -->
                    </div>
                    <div class="col-lg-12 mt40 text-center"><a href="#" class="btn-link"> View More Testimonial</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Testimonial section -->
    <div class="space-medium pdb0">
        <!-- Partner section -->
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2>Our Partner Colleges</h2>
                        <p>We partner with over 60+ colleges in 14 states that are committed to helping highly-motivated like you, complete your education.</p>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="space-medium">
                <div class="row">
                    <div class="owl-carousel partner-logo-carousel owl-theme">
                        <div class="item">
                            <div class="partner-logo">
                                <!-- partner logo -->
                                <img src="images/partner-logo-1.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-responsive grayscale">
                            </div>
                            <!-- /.partner logo -->
                        </div>
                        <div class="item">
                            <div class="partner-logo">
                                <!-- partner logo -->
                                <img src="images/partner-logo-2.jpg" alt="Logo Carousel & List of clients, supporters, partners or sponsors logos in your website." class="img-responsive grayscale">
                            </div>
                            <!-- /.partner logo -->
                        </div>
                        <div class="item">
                            <div class="partner-logo">
                                <!-- partner logo -->
                                <img src="images/partner-logo-3.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-responsive grayscale">
                            </div>
                            <!-- /.partner logo -->
                        </div>
                        <div class="item">
                            <div class="partner-logo">
                                <!-- partner logo -->
                                <img src="images/partner-logo-4.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-responsive grayscale">
                            </div>
                            <!-- /.partner logo -->
                        </div>
                        <div class="item">
                            <div class="partner-logo">
                                <!-- partner logo -->
                                <img src="images/partner-logo-5.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-responsive grayscale">
                            </div>
                            <!-- /.partner logo -->
                        </div>
                        <div class="item">
                            <div class="partner-logo">
                                <!-- partner logo -->
                                <img src="images/partner-logo-6.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-responsive grayscale">
                            </div>
                            <!-- /.partner logo -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Partner section -->
    <div class="bg-default space-medium">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-12">
                    <h2 class="display-1 text-white">Free Online Visa <br> Assessment</h2>
                    <p>Contact us today by fill up free online visa assessment and we will contact you.</p>
                    <div class="mb30 mt60">
                         <i class="fa fa-phone fa-3x"></i>
                    <h2 class="text-white">0800 123 456</h2>
                    <p>Mon - Thurs 8:00am - 6:00pm
                        <br> Friday 8:00am - 5:30pm</p>
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-5 offset-lg-1 col-lg-5 col-md-7 col-sm-7 col-12">
                    <div class="enquiry-short-form">
                        <h2>Enter Your Information</h2>
                        <form class="" method="post" action="widget-enquiry.php">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label sr-only" for="yourname">Your Name</label>
                                <div class="">
                                    <input id="yourname" name="yourname" type="text" placeholder="Your Name" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label sr-only" for="email">Email</label>
                                <div class="">
                                    <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label sr-only" for="mobile">Mobile No</label>
                                <div class="">
                                    <input id="mobile" name="mobile" type="number" placeholder="Mobile No" class="form-control input-md" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="selectvisa" class="sr-only">Select Visa</label>
                                    <select class="form-control" id="selectvisa">
                                        <option>Select Visa</option>
                                        <option>Visa</option>
                                        <option>Visa</option>
                                        <option>Visa</option>
                                        <option>Visa</option>
                                    </select>
                                </div>
                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="control-label sr-only" for="message">Message</label>
                                <div class="">
                                    <textarea class="form-control" id="message" name="message" rows="4" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default btn-lg btn-block">Book My Free Assessment</button>
                        </form>
                        <span class="help-block">We are not spam your email.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium bg-light">
        <!-- News section -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title mb60">
                        <!-- section title start-->
                        <h2>Resources & News</h2>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <!-- post block -->
                                <div class="post-img mb20">
                                    <a href="blog-single.html"><img src="images/post-square-img.jpg" alt="best business consulting websites" class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="post-content">
                                    <h3 class="post-title"><a href="blog-single.html" class="title"> Visa &amp; Immigration Consultant Templates </a></h3>
                                    <p class="meta"> <span class="meta-date"> 1 Feb, 2018</span>
                                    </p>
                                    <p>Immigration Services Website Templates maecenas aliquam ntempor erat congue. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.post block -->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <!-- post block -->
                                <div class="post-img mb20">
                                    <a href="blog-single.html"><img src="images/post-square-img-2.jpg" alt="Immigration Services Website Templates " class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="post-content">
                                    <h3 class="post-title"><a href="blog-single.html" class="title"> Website Templates for Immigration Company</a></h3>
                                    <p class="meta"> <span class="meta-date"> 1 Feb, 2018</span>
                                    </p>
                                    <p>Website Templates for Immigration raesent non ventum feugiat nibh simple dummy content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.post block -->
                </div>
            </div>
        </div>
    </div>
    <!-- /. News section -->
    <div class="footer">
        <!-- Footer -->
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-3 col-12">
                    <div class="widget-footer">
                        <h3 class="widget-title">About us</h3>
                        <p>Welcome to VisaPress Immigration Consulting Responsive Website Template</p>
                        <p>We have a global presence with a strategic network of own and associate offices in 25 locations across the world. We are planning to extend our services to over 20 offices by the year end. </p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                    <div class="widget-footer">
                        <h3 class="widget-title">Country</h3>
                        <ul class="listnone arrow-footer">
                            <li><a href="#">Canada</a></li>
                            <li><a href="#">United States</a></li>
                            <li><a href="#">United Kingdom</a></li>
                            <li><a href="#">Australia</a></li>
                            <li><a href="#">New Zealand</a></li>
                            <li><a href="#">Singapore</a></li>
                            <li><a href="#">South Africa</a></li>
                            <li><a href="#">Germany</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                    <div class="widget-footer">
                        <h3 class="widget-title">Visas</h3>
                        <ul class="listnone arrow-footer">
                            <li><a href="#"> Students Visas</a></li>
                            <li><a href="#">Business Visas</a></li>
                            <li><a href="#">Family Visas</a></li>
                            <li><a href="#">Travel Visas</a></li>
                            <li><a href="#">Work Visas</a></li>
                            <li><a href="#">Visitor Visas</a></li>
                            <li><a href="#">Migrate Visas</a></li>
                            <li><a href="#">PR Visas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                    <div class="widget-footer">
                        <h3 class="widget-title">Contact Us</h3>
                        <strong>Corporate Office</strong>
                        <address>2279 Fire Access Road
                            <br> Greensboro, NC 27401</address>
                        <p>1800 102 4150
                            <br> 1800 102 4151</p>
                        <p><a href="#">Schedule a Meeting</a>
                            <br>
                            <a href="#">Talk to our Expert</a></p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-6">
                    <div class="widget-footer">
                        <h3 class="widget-title">Connect</h3>
                        <ul class="listnone">
                            <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i> Youtube</a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i> Linked In</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.footer -->
    <div class="tiny-footer">
        <!-- tiny footer -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p>Copyright © 2018 <a href="#">VisaPress</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.tiny footer -->
     <!-- Search Modal -->
    <div class="searchModal">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Search Here..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.Search Modal -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
     
    <!-- menumaker js -->
    <script src="js/menumaker.js"></script>
    <script src="js/navigation.js"></script>
    <!-- owl.carousel.min.js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom-carousel.js"></script>
</body>

</html>