{% extends "layout.html" %}
{% block content %}
    <div class="page-header onlineeducation">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <h1 class="page-title">Online Classes</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <!-- page breadcrumb -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Online Classes</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page breadcrumb -->

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="coaching-card">
                        <!-- coaching card -->
                        <div class="coaching-card-img zoomimg">
                            <a href="#"><img src="static/images/ielts3.jpg" width="500" height="500"  alt="" class="img-fluid"></a>
                        </div>
                        <div class="coaching-card-body">
                            <h2 class="coaching-card-title"><a href="#" class="title">Online IELTS Coaching</a></h2>
                            <p>You’ll receive advice on each part of the test from our video tutor and a team of experienced IELTS educators. You can also share your experiences with other learners.</p>
                            <a href="#" class="btn-link-primary">Read More</a>
                        </div>
                    </div>
                    <!-- /.coaching card -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="coaching-card">
                        <!-- coaching card -->
                        <div class="coaching-card-img zoomimg">
                            <a href="#"><img src="static/images/pte22.jpg" width="500" height="500" class="img-fluid"></a>
                        </div>
                        <div class="coaching-card-body">
                            <h2 class="coaching-card-title"><a href="#" class="title">Online PTE Coaching</a></h2>
                            <p>Get one-on-one attention. Receive guidance, personalized tips and solutions. Boost your PTE Score with expert feedback related to your performance.</p>
                            <a href="#" class="btn-link-primary">Read More</a>
                        </div>
                    </div>
                    <!-- /.coaching card -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="coaching-card">
                        <!-- coaching card -->
                        <div class="coaching-card-img zoomimg">
                            <a href="#"><img src="static/images/sp.jpg" width="500" height="500" alt="" class="img-fluid"></a>
                        </div>
                        <div class="coaching-card-body">
                            <h2 class="coaching-card-title"><a href="#" class="title">Online English Speaking</a></h2>
                            <p>Improve your knowledge of the English language and pronunciation and practice your speaking and vocabulary with our video lessons. </p>
                            <a href="#" class="btn-link-primary">Read More</a>
                        </div>
                    </div>
                    <!-- /.coaching card -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="coaching-card">
                        <!-- coaching card -->
                        <div class="coaching-card-img zoomimg">
                            <a href="#"><img src="static/images/moke.jpg" width="500" height="500" class="img-fluid"></a>
                        </div>
                        <div class="coaching-card-body">
                            <h2 class="coaching-card-title"><a href="#" class="title">Online Mock Test <small> (Weekly Test)</small></a></h2>
                            <p> With PTE Practice Tests, you can achieve the desired perfection that will help you succeed in the PTE academic. A student can take benefit of 50+ PTE Mock Tests. </p>
                            <a href="#" class="btn-link-primary">Read More</a>
                        </div>
                    </div>
                    <!-- /.coaching card -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="coaching-card">
                        <!-- coaching card -->
                        <div class="coaching-card-img zoomimg">
                            <a href="#"><img src="static/images/ea.jpg" width="500" height="500" alt="" class="img-fluid"></a>
                        </div>
                        <div class="coaching-card-body">
                            <h2 class="coaching-card-title"><a href="#" class="title">Online English Assessment </a></h2>
                            <p>Do you want to improve your English for work or for your studies? Start by taking our free English grammar and vocabulary test to help you find your level. </p>
                            <a href="#" class="btn-link-primary">Read More</a>
                        </div>
                    </div>
                    <!-- /.coaching card -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="coaching-card">
                        <!-- coaching card -->
                        <div class="coaching-card-img zoomimg">
                            <a href="#"><img src="static/images/ge.jpg" width="500" height="500" alt="" class="img-fluid"></a>
                        </div>
                        <div class="coaching-card-body">
                            <h2 class="coaching-card-title"><a href="#" class="title">Online General English </a></h2>
                            <p>Basic English grammar rules can be tricky. In this article, we'll get you started with the basics of sentence structure, vocabulary, grammar, punctuation and more. </p>
                            <a href="#" class="btn-link-primary">Read More</a>
                        </div>
                    </div>
                    <!-- /.coaching card -->
                </div>
            </div>
        </div>
    </div>
    <div class="content pdb0">
        <div class="bg-light space-medium">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h3>Why Online Coaching?</h3>
                        <p>Online coaching provides one-on-one interaction, which helps you learn better and get 100% attention from the teacher. The absence of other students ensures that you concentrate better and have fewer distractions.</p>
                        <ul class="listnone check-circle">
                            <li>Students have the freedom to juggle their careers and school because they aren't tied down to a fixed schedule.</li>
                            <li>Online education can cost less due to a variety of reasons. For example, there is no cost for commuting.</li>
                            <li>Online education also provides students with the chance to network with peers across nations or even different continents.</li>
                            <li>All the information that you will need will be safely stored in an online database.</li>
                            <li>Online videos can also offer another advantage where the teacher can conduct an online assessment of the students for one or more topics.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-section bg-background mb60" style="background-image:url('static/images/slider-smile.jpg');">
            <div class="cta-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12">
                            <div class="cta-caption">
                                <h1>Interested in Online<br> Coaching ?</h1>
                                <p class="mb30"> Join the best coaching center.</p>
                                <a href="{{ url_for('contactus') }}" class="btn btn-default">Get Free Assessment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}