{% extends "layout.html" %}
{% block content %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <h1 class="page-title">Visa Coaching List Page</h1>
                    <p class="page-description">Making an excellent website header design is very important. Page header is an excellent way to deliver a message. Make the website header active.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <!-- page breadcrumb -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Visa Coaching List Page</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page breadcrumb -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="coaching-card">
                        <!-- coaching card -->
                        <div class="coaching-card-img zoomimg">
                            <a href="#"><img src="static/images/coaching-img-1.jpg" alt="" class="img-fluid"></a>
                        </div>
                        <div class="coaching-card-body">
                            <h2 class="coaching-card-title"><a href="#" class="title">Online IELTS Coaching</a></h2>
                            <p>Quisque pellentesque eleifend arcu, eget consequ a pharetra rabiturbh est malesuada metus, ut hendrerit libero tellus sed diam.</p>
                            <a href="#" class="btn-link-primary">Read More</a>
                        </div>
                    </div>
                    <!-- /.coaching card -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="coaching-card">
                        <!-- coaching card -->
                        <div class="coaching-card-img zoomimg">
                            <a href="#"><img src="static/images/coaching-img-2.jpg" alt="" class="img-fluid"></a>
                        </div>
                        <div class="coaching-card-body">
                            <h2 class="coaching-card-title"><a href="#" class="title">Online PTE Coaching</a></h2>
                            <p>Nunc vitae maximus felis, at eleifend risus. Mauris mollis elit eros, nec hendrerit metus posuere vitae anterdum mauris euismod in.</p>
                            <a href="#" class="btn-link-primary">Read More</a>
                        </div>
                    </div>
                    <!-- /.coaching card -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="coaching-card">
                        <!-- coaching card -->
                        <div class="coaching-card-img zoomimg">
                            <a href="#"><img src="static/images/coaching-img-3.jpg" alt="" class="img-fluid"></a>
                        </div>
                        <div class="coaching-card-body">
                            <h2 class="coaching-card-title"><a href="#" class="title">Online English Speaking</a></h2>
                            <p>In pretium fermentum elit vulputate suscipit. In quis viverra nibh, non pretium nisi. Suspendisse et pretium tortor. </p>
                            <a href="#" class="btn-link-primary">Read More</a>
                        </div>
                    </div>
                    <!-- /.coaching card -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="coaching-card">
                        <!-- coaching card -->
                        <div class="coaching-card-img zoomimg">
                            <a href="#"><img src="static/images/coaching-img-4.jpg" alt="" class="img-fluid"></a>
                        </div>
                        <div class="coaching-card-body">
                            <h2 class="coaching-card-title"><a href="#" class="title">Online Weekly Seminar <small> (Graduate Management Test)</small></a></h2>
                            <p>Aliquam molestie et odio sit amet venenatis onec non mattis ligula uisque at malesuada purus ullam tristique leo a pulvinar rhoncus. </p>
                            <a href="#" class="btn-link-primary">Read More</a>
                        </div>
                    </div>
                    <!-- /.coaching card -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="coaching-card">
                        <!-- coaching card -->
                        <div class="coaching-card-img zoomimg">
                            <a href="#"><img src="static/images/coaching-img-5.jpg" alt="" class="img-fluid"></a>
                        </div>
                        <div class="coaching-card-body">
                            <h2 class="coaching-card-title"><a href="#" class="title">Online English Assesment <small> (Scholastic Aptitude Test)</small></a></h2>
                            <p>In commodo a ipsum non consequat. Mauris fringilla suscipit est quis hendre ibero blandit arcu, volutpat bibendum nulla tellus non nisi. </p>
                            <a href="#" class="btn-link-primary">Read More</a>
                        </div>
                    </div>
                    <!-- /.coaching card -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="coaching-card">
                        <!-- coaching card -->
                        <div class="coaching-card-img zoomimg">
                            <a href="#"><img src="static/images/coaching-img-6.jpg" alt="" class="img-fluid"></a>
                        </div>
                        <div class="coaching-card-body">
                            <h2 class="coaching-card-title"><a href="#" class="title">Online General English <small>  (Graduate Record Examination)</small></a></h2>
                            <p>Aliquam molestie et odio sit amet venenatis onec non mattis ligula uisque at malesuada purus ullam tristique leo a pulvinar rhoncus. </p>
                            <a href="#" class="btn-link-primary">Read More</a>
                        </div>
                    </div>
                    <!-- /.coaching card -->
                </div>
            </div>
        </div>
    </div>
    <div class="content pdb0">
        <div class="bg-light space-medium">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h3>IELTS Eligibility</h3>
                        <p>Tristique quis mi eleifend congue. Integer eget felis laoreet, volut pat justo vitae, molestie enim. Vestibulum sed sollicitudin magna. Vestibulum placerat eleifend magna, a placerat erat euismod in. Nunc molestie neque auctor orci tristique ornare.</p>
                        <ul class="listnone check-circle">
                            <li>IELTS is not recommended for candidates under the age of 16.</li>
                            <li>It is eligible for students:</li>
                            <li>Students who are applying to study in UK, Australia, Canada, New Zealand and US.</li>
                            <li>Medical professionals planning to work or follow further study in the UK, Australia or US.</li>
                            <li>People planning to emigrate to Canada, Australia or New Zealand.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-section bg-background" style="background-image:url('images/cta-img.jpg');">
            <div class="cta-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12">
                            <div class="cta-caption">
                                <h1>Interested in IELTS <br> Coaching ?</h1>
                                <p class="mb30"> Join the best IELTS coaching center ullam imperdiet ligulaa metus porttitor auctoruis at imperdiet massa.</p>
                                <a href="#" class="btn btn-default">Get Free Assessment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}