<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="best visa immigration business consulting websites">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <title>VisaPress - An Immigration Consulting Website Template</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome 4.0 CSS -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <!-- Google Font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700%7cPT+Serif:400,400i,700,700i" rel="stylesheet">
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="guideline_header">
            <div class="row">
                <div class="col-md-12">
                    <h1>Design Guideline</h1>
                </div>
            </div>
        </div>
        <div class="guideline_block">
            <div class="row">
                <div class="col-md-3">
                    <h3>Branding Color</h3></div>
                <div class="col-md-9">
                    <div class="guideline_color_box guideline_color_primary"></div>
                    <div class="guideline_color_box guideline_color_default"></div>
                    <div class="guideline_color_box guideline_color_secondary"></div>
                    <div class="guideline_color_box guideline_color_base"></div>
                </div>
            </div>
        </div>
        <div class="guideline_block">
            <div class="row">
                <div class="col-md-3">
                    <h3>Headings</h3></div>
                <div class="col-md-9">
                    <h1>Heading Title</h1>
                    <h2>Heading Title</h2>
                    <h3>Heading Title</h3>
                    <h4>Heading Title</h4>
                    <h5>Heading Title</h5>
                    <h6>Heading Title</h6>
                </div>
            </div>
        </div>
        <div class="guideline_block">
            <div class="row">
                <div class="col-md-3">
                    <h3>Paragraph</h3></div>
                <div class="col-md-9">
                    <h4>Body Copy</h4>
                    <p>Quisque eu maximus nulla, eu porta leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris bibendum enim eu convallis semper. Morbi cursus, enim sit amet consequat sagittis, sem diam bibendum tortor, quis placerat quam lectus in sem. Morbi sit amet dictum enim. </p>
                    <hr>
                    <h4>Lead Paragraph</h4>
                    <p class="lead">The generated lorem ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                </div>
            </div>
        </div>
        <div class="guideline_block">
            <!-- guideline block -->
            <div class="row">
                <div class="col-md-3">
                    <h3>Forms</h3></div>
                <div class="col-md-9">
                    <h4>Input</h4>
                    <p>
                        <input type="text" class="form-control" placeholder="Input">
                    </p>
                    <hr>
                    <h4>Textarea</h4>
                    <p>
                        <textarea class="form-control" rows="6"></textarea>
                    </p>
                    <hr>
                    <h4>Checkboxes</h4>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Option one is this and that&mdash;be sure to include why it's great
                        </label>
                    </div>
                    <div class="checkbox ">
                        <label>
                            <input type="checkbox" value=""> Option two is
                        </label>
                    </div>
                    <hr>
                    <h4>Radios</h4>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Option one is this and that&mdash;be sure to include why it's great
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option two can be something else and selecting it will deselect option one
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Option three is
                        </label>
                    </div>
                    <hr>
                    <h4>Selects</h4>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- /.guideline block -->
        <div class="guideline_block">
            <div class="row">
                <div class="col-md-3">
                    <h3>Buttons</h3></div>
                <div class="col-md-9">
                    <a href="#" class="btn btn-default btn-lg">Read More</a>
                    <a href="#" class="btn btn-primary btn-lg">Read More</a>
                    <a href="#" class="btn btn-secondary btn-lg">Read More</a>
                    <hr>
                    <a href="#" class="btn btn-default">Read More</a>
                    <a href="#" class="btn btn-primary">Read More</a>
                    <a href="#" class="btn btn-secondary">Read More</a>
                    <hr>
                    <a href="#" class="btn btn-default btn-sm">Read More</a>
                    <a href="#" class="btn btn-primary btn-sm">Read More</a>
                    <a href="#" class="btn btn-secondary btn-sm">Read More</a>
                    <hr>
                    <a href="#" class="btn btn-default btn-xs">Read More</a>
                    <a href="#" class="btn btn-primary btn-xs">Read More</a>
                    <a href="#" class="btn btn-secondary btn-xs">Read More</a>
                    <hr>
                    <h3>Links</h3>
                    <a href="#" class="btn-link">Read More</a>
                    <a href="#" class="btn-link-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="guideline_block">
            <div class="row">
                <div class="col-md-3">
                    <h3>Bloackquote</h3></div>
                <div class="col-md-9">
                    <blockquote>
                        <p>The best preparation for tomorrow is doing your best today.</p>
                        <footer>Someone famous in
                            <cite title="Source Title">H. Jackson Brown, Jr.</cite>
                        </footer>
                    </blockquote>
                    <blockquote class="blockquote-reverse">
                        <p>I can't change the direction of the wind, but I can adjust my sails to always reach my destination. </p>
                        <footer>Someone famous in
                            <cite title="Source Title">Jimmy Dean</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="guideline_block">
            <div class="row">
                <div class="col-md-3">
                    <h3>Lists</h3></div>
                <div class="col-md-4">
                    <h4>Unordered</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>Nulla volutpat aliquam velit
                            <ul>
                                <li>Phasellus iaculis neque</li>
                                <li>Purus sodales ultricies</li>
                                <li>Vestibulum laoreet porttitor sem</li>
                                <li>Ac tristique libero volutpat at</li>
                            </ul>
                        </li>
                        <li>Faucibus porta lacus fringilla vel</li>
                        <li>Aenean sit amet erat nunc</li>
                        <li>Eget porttitor lorem</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Ordered</h4>
                    <ol>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>Nulla volutpat aliquam velit</li>
                        <li>Faucibus porta lacus fringilla vel</li>
                        <li>Aenean sit amet erat nunc</li>
                        <li>Eget porttitor lorem</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="guideline_block">
            <div class="row">
                <div class="col-md-3">
                    <h3>Tables</h3></div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>