{% extends "layout.html" %}
{% block content %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <h1 class="page-title">Video Testimonial</h1>
                    <p class="page-description">Your student &amp; clients Youtube video &amp; vimeo testimonial page desig.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <!-- page breadcrumb -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Video Testimonial</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page breadcrumb -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb60">
                    <h2>Video Testimonial v1</h2></div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-video-testimonial">
                        <!-- card video testimonial -->
                        <div class="card-video-box">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ggr9alqVeHA?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="video-icon"><i class="fa fa-play-circle"></i></div>
                        </div>
                        <div class="card-video-body">
                            <h4 class="card-video-title mb0">Winfred B. Miles</h4>
                            <p class="card-video-meta">(Canada students visa) <span class="float-right">Score: 8.5</span></p>
                        </div>
                    </div>
                    <!-- /.card video testimonial -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-video-testimonial">
                        <!-- card video testimonial -->
                        <div class="card-video-box">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ggr9alqVeHA?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="video-icon"><i class="fa fa-play-circle"></i></div>
                        </div>
                        <div class="card-video-body">
                            <h4 class="card-video-title mb0">Michael M. Leig</h4>
                            <p class="card-video-meta">(Australia students visa)<span class="float-right">Score: 8.5</span></p>
                        </div>
                    </div>
                    <!-- /.card video testimonial -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-video-testimonial">
                        <!-- card video testimonial -->
                        <div class="card-video-box">
                            <div class="embed-responsive embed-responsive-16by9">
                                

                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ggr9alqVeHA?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                            </div>
                            <div class="video-icon"><i class="fa fa-play-circle"></i></div>
                        </div>
                        <div class="card-video-body">
                            <h4 class="card-video-title mb0">Joseph E. Love</h4>
                            <p class="card-video-meta">(Canada PR visa) <span class="float-right">Score: 8.5</span></p>
                        </div>
                    </div>
                    <!-- /.card video testimonial -->
                </div>
            </div>
        </div>
        <div class="space-medium pdb0">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb60">
                        <h2>Video Testimonial v2</h2></div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card-video-testimonial">
                            <!-- card video testimonial -->
                            <div class="card-video-box">
                                <div class="embed-responsive embed-responsive-16by9">
                                     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ggr9alqVeHA?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                <div class="video-icon"><i class="fa fa-play-circle"></i></div>
                            </div>
                            <div class="card-video-body-overlay">
                                <h4 class="card-video-title mb0">Winfred B. Miles</h4>
                                <p class="card-video-meta">(Canada students visa) <span class="score-badge">Score: 8.5</span></p>
                            </div>
                        </div>
                        <!-- /.card video testimonial -->
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card-video-testimonial">
                            <!-- card video testimonial -->
                            <div class="card-video-box">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ggr9alqVeHA?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                <div class="video-icon"><i class="fa fa-play-circle"></i></div>
                            </div>
                            <div class="card-video-body-overlay">
                                <h4 class="card-video-title mb0">Michael M. Leig</h4>
                                <p class="card-video-meta">(Australia students visa)<span class="score-badge">Score: 8.5</span></p>
                            </div>
                        </div>
                        <!-- /.card video testimonial -->
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card-video-testimonial">
                            <!-- card video testimonial -->
                            <div class="card-video-box">
                                <div class="embed-responsive embed-responsive-16by9">
                                     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ggr9alqVeHA?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                <div class="video-icon"><i class="fa fa-play-circle"></i></div>
                            </div>
                            <div class="card-video-body-overlay">
                                <h4 class="card-video-title mb0">Joseph E. Love</h4>
                                <p class="card-video-meta">(Canada PR visa) <span class="score-badge">Score: 8.5</span></p>
                            </div>
                        </div>
                        <!-- /.card video testimonial -->
                    </div>
                </div>
            </div>
        </div>
        <div class="space-medium pbd0">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb60">
                        <h2>Video Testimonial v1</h2></div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card-video-testimonial card-outline">
                            <!-- card video testimonial -->
                            <div class="card-video-box">
                                <div class="embed-responsive embed-responsive-16by9">
                                     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ggr9alqVeHA?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                <div class="video-icon"><i class="fa fa-play-circle"></i></div>
                            </div>
                            <div class="card-video-body">
                                <h4 class="card-video-title mb0">Winfred B. Miles</h4>
                                <p class="card-video-meta">(Canada students visa) <span class="float-right">Score: 8.5</span></p>
                            </div>
                        </div>
                        <!-- /.card video testimonial -->
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card-video-testimonial card-outline">
                            <!-- card video testimonial -->
                            <div class="card-video-box">
                                <div class="embed-responsive embed-responsive-16by9">
                                     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ggr9alqVeHA?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                <div class="video-icon"><i class="fa fa-play-circle"></i></div>
                            </div>
                            <div class="card-video-body">
                                <h4 class="card-video-title mb0">Michael M. Leig</h4>
                                <p class="card-video-meta">(Australia students visa)<span class="float-right">Score: 8.5</span></p>
                            </div>
                        </div>
                        <!-- /.card video testimonial -->
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card-video-testimonial card-outline">
                            <!-- card video testimonial -->
                            <div class="card-video-box">
                                <div class="embed-responsive embed-responsive-16by9">
                                     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ggr9alqVeHA?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                <div class="video-icon"><i class="fa fa-play-circle"></i></div>
                            </div>
                            <div class="card-video-body">
                                <h4 class="card-video-title mb0">Joseph E. Love</h4>
                                <p class="card-video-meta">(Canada PR visa) <span class="float-right">Score: 8.5</span></p>
                            </div>
                        </div>
                        <!-- /.card video testimonial -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}