{% extends "layout.html" %}
{% block content %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <h1 class="page-title">Student Testimonials</h1>
                    <p class="page-description">Our Student Success Stories.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <!-- page breadcrumb -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Student Testimonials</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-testimonial card-testimonial-light">
                        <!-- card testimonial start -->
                        <div class="card-testimonial-img"><img src="static/images/solvia_refer.jpg" width="90" height="90" alt="" class="rounded-circle"></div>
                        <div class="card-testimonial-content">
                            <p class="card-testimonial-text">"Harpreet Academy is one of the finest institute for PTE coaching, as I have taken the In-class coaching for 20 days and got my desired score. Harpreet mam and Sharan mam provided me immense guidance and necessary material to crack the test"</p>
                        </div>
                        <div class="card-testimonial-info">
                            <span class="card-testimonial-flag"><img src="static/images/country/canada.svg" class="flag-small"></span>
                            <h4 class="card-testimonial-name">Solvia</h4>
                            <p><small>( Canada Students Visa )</small></p>
                        </div>
                        <div class="testimonial-score-list">
                            <h5 class="score-list-title">Result</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Listening <span class="score-point">7.5</span></li>
                                <li class="list-group-item">Reading <span class="score-point">7.7</span></li>
                                <li class="list-group-item">Writing <span class="score-point">7.5</span></li>
                                <li class="list-group-item">Speaking <span class="score-point">7</span></li>
                                <li class="list-group-item">Overall Band Score <span class="score-point">7.5</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card testimonial start -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-testimonial card-testimonial-light">
                        <!-- card testimonial start -->
                        <div class="card-testimonial-img"><img src="static/images/jagmeet_refer.jpg" width="90" height="90" alt="" class="rounded-circle"></div>
                        <div class="card-testimonial-content">
                            <p class="card-testimonial-text">“I got my desired result in first attempt. If you are looking to prepare for PTE exam than dont look anywhere else, Harpreet mam provide keen care and explain complex topic in simple manner and weekly mock tests helped as well”</p>
                        </div>
                        <div class="card-testimonial-info">
                            <span class="card-testimonial-flag"><img src="static/images/country/Australia.svg" class="flag-small"></span>
                            <h4 class="card-testimonial-name">Jagmeet</h4>
                            <p><small>( Australia Student visa )</small></p>
                        </div>
                        <div class="testimonial-score-list">
                            <h5 class="score-list-title">Result</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Listening <span class="score-point">7.5</span></li>
                                <li class="list-group-item">Reading <span class="score-point">7.5</span></li>
                                <li class="list-group-item">Writing <span class="score-point">6.5</span></li>
                                <li class="list-group-item">Speaking <span class="score-point">7</span></li>
                                <li class="list-group-item">Overall Band Score <span class="score-point">7</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card testimonial start -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-testimonial card-testimonial-light">
                        <!-- card testimonial start -->
                        <div class="card-testimonial-img"><img src="static/images/vushal_refer.jpg" width="90" height="90" alt="" class="rounded-circle"></div>
                        <div class="card-testimonial-content">
                            <p class="card-testimonial-text">“If you are looking to score your dream points in PTE in the first go than Harpreet Academy is the place for you. Harpreet and her staff are so dedicated towards each and every student which further helps students to score his desired result!”</p>
                        </div>
                        <div class="card-testimonial-info">
                            <span class="card-testimonial-flag"><img src="static/images/country/canada.svg" class="flag-small"></span>
                            <h4 class="card-testimonial-name">Vishal</h4>
                            <p><small>( Canada Student Visa)</small></p>
                        </div>
                        <div class="testimonial-score-list">
                            <h5 class="score-list-title">Result</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Listening <span class="score-point">7.5</span></li>
                                <li class="list-group-item">Reading <span class="score-point">7.5</span></li>
                                <li class="list-group-item">Writing <span class="score-point">6.5</span></li>
                                <li class="list-group-item">Speaking <span class="score-point">7.5</span></li>
                                <li class="list-group-item">Overall Band Score <span class="score-point">7.5</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card testimonial start -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="testimonial-img">
                        <img src="static/images/vishal_prize.jpeg" width="500" height="50" alt="Creative and simple customer testimonial page design" class="img-fluid">
                        <span class="testimonial-badge"><i class="fa fa-quote-right"></i></span>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-12">
                    <div class="testimonial-block">
                        <!-- testimonial block -->
                        <div class="testimonial-content">
                            <p class="testimonial-text">“If you are looking to score your dream points in PTE in the first go than Harpreet Academy is the place for you. Harpreet and her staff are so dedicated towards each and every student which further helps students to score his desired result. The material and the tips, tricks provided here has been great value, I highly recommend Harpreet Academy!”</p>
                        </div>
                        <div class="testimonial-info">
                            <h4 class="testimonial-name">Vishal Saini</h4>
                            <span class="testimonial-meta">( Score : 7.5 )</span>
                        </div>

                    </div>
                    <!--/. testimonial block -->
                </div>
            </div>
        </div>
    <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="testimonial-img">
                        <img src="static/images/nurse_price.jpg"  width="500" height="50" alt="Creative and simple customer testimonial page design" class="img-fluid">
                        <span class="testimonial-badge"><i class="fa fa-quote-right"></i></span>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-12">
                    <div class="testimonial-block">
                        <!-- testimonial block -->
                        <div class="testimonial-content">
                            <p class="testimonial-text">“Harpreet Academy provides quality education and it has been a great experience in my life. Faculty is quite supportive. Online tests help me to work on my weaker  areas.”</p>
                        </div>
                        <div class="testimonial-info">
                            <h4 class="testimonial-name">Lovepreet</h4>
                            <span class="testimonial-meta">( Score : 7.0 )</span>
                        </div>

                    </div>
                    <!--/. testimonial block -->
                </div>
            </div>
        </div>

    <div class="space-medium pdb0">
        <!-- Partner section -->
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="section-title text-center">
                        <!-- section title start-->
                        <h2>Wall of Fame</h2>
                        <p>We have produce over 60+ successful results who have made it in the PTE exam.</p>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="space-medium">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/jagmeet-singh-without-border.jpg" width="1000" height="1050" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/Jaskaran-Singh-without-border.jpg" alt="Logo Carousel & List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/ajay-kumar-without-border.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/Lovepreet-Kaur-without-border.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/Manpreet-Kaur--without-border.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/Navjot-Kaur-Sidhu-without-border.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <!-- partner logo -->
                            <img src="static/images/sovia-without-border.jpg" alt="List of clients, supporters, partners or sponsors logos in your website." class="img-fluid grayscale">
                        </div>
                        <!-- /.partner logo -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="partner-logo">
                            <img src="static/images/vishal-saini-without-border.jpg" alt="Display client logos, supporters, partners or sponsors logos responsive carousel with the help of a shortcode,  in your website." class="img-fluid grayscale">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center"><a href="{{ url_for('contactus') }}" class="btn btn-default btn-lg">Book Free Consultation</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page breadcrumb -->

{% endblock %}