
<div class="footer">
        <!-- Footer -->
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-3 col-12">
                    <div class="widget-footer">
                        <h3 class="widget-title">About us</h3>
                        <p>Welcome to VisaPress Immigration Consulting Responsive Website Template</p>
                        <p>We have a global presence with a strategic network of own and associate offices in 25 locations across the world. We are planning to extend our services to over 20 offices by the year end. </p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                    <div class="widget-footer">
                        <h3 class="widget-title">Country</h3>
                        <ul class="listnone arrow-footer">
                            <li><a href="#">Canada</a></li>
                            <li><a href="#">United States</a></li>
                            <li><a href="#">United Kingdom</a></li>
                            <li><a href="#">Australia</a></li>
                            <li><a href="#">New Zealand</a></li>
                            <li><a href="#">Singapore</a></li>
                            <li><a href="#">South Africa</a></li>
                            <li><a href="#">Germany</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                    <div class="widget-footer">
                        <h3 class="widget-title">Visas</h3>
                        <ul class="listnone arrow-footer">
                            <li><a href="#"> Students Visas</a></li>
                            <li><a href="#">Business Visas</a></li>
                            <li><a href="#">Family Visas</a></li>
                            <li><a href="#">Travel Visas</a></li>
                            <li><a href="#">Work Visas</a></li>
                            <li><a href="#">Visitor Visas</a></li>
                            <li><a href="#">Migrate Visas</a></li>
                            <li><a href="#">PR Visas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                    <div class="widget-footer">
                        <h3 class="widget-title">Contact Us</h3>
                        <strong>Corporate Office</strong>
                        <address>2279 Fire Access Road
                            <br> Greensboro, NC 27401</address>
                        <p>1800 102 4150
                            <br> 1800 102 4151</p>
                        <p><a href="#">Schedule a Meeting</a>
                            <br>
                            <a href="#">Talk to our Expert</a></p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-6">
                    <div class="widget-footer">
                        <h3 class="widget-title">Connect</h3>
                        <ul class="listnone">
                            <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i> Youtube</a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i> Linked In</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.footer -->
<div class="tiny-footer">
        <!-- tiny footer -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p>Copyright © 2018 <a href="#">VisaPress</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>