
<div class="footer">
        <!-- Footer -->
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-3 col-12">
                    <div class="widget-footer">
                        <h3 class="widget-title">About us</h3>
                        <p>Welcome to top-rated IELTS / PTE institute in Gurdaspur, get your desired score in first attempt</p>
                        <p>We have produced 60+ successful results in short period of time. We are planning to help 1000+ more students like you to achieve your desired score and study abroad. </p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                    <div class="widget-footer">
                        <h3 class="widget-title">Coaching</h3>
                        <ul class="listnone arrow-footer">
                            <li><a href="{{ url_for('pte') }}">PTE</a></li>
                            <li><a href="{{ url_for('ielts') }}">IELTS</a></li>
                            <li><a href="{{ url_for('generalenglish') }}">Speaking English</a></li>
                            <li><a href="{{ url_for('generalenglish') }}">General English</a></li>
                            <li><a href="{{ url_for('generalenglish') }}">Grammar Classes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                    <div class="widget-footer">
                        <h3 class="widget-title">Online Classes</h3>
                        <ul class="listnone arrow-footer">
                            <li><a href="{{ url_for('onlineclasses') }}">Online PTE Training</a></li>
                            <li><a href="{{ url_for('onlineclasses') }}">Online IELTS Training</a></li>
                            <li><a href="{{ url_for('onlineclasses') }}">Mock Exams</a></li>
                            <li><a href="{{ url_for('onlineclasses') }}">Online General English</a></li>
                            <li><a href="{{ url_for('onlineclasses') }}">Online Speaking Classes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                    <div class="widget-footer">
                        <h3 class="widget-title">Contact Us</h3>
                        <strong>Institute Location</strong>
                        <address>Near Tibri Bye Pass Crossing, Gurdaspur
                            <br> Punjab, India, 143521</address>
                        <p>+91-8437963879
                            <br> +91-9888077791</p>
                        <p><a href="{{ url_for('contactus')}}">Schedule a Meeting</a>
                            <br>
                            <a href="{{ url_for('contactus')}}">Talk to our Expert</a></p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-6">
                    <div class="widget-footer">
                        <h3 class="widget-title">Connect</h3>
                        <ul class="listnone">
                            <li><a href="https://www.instagram.com/theharpreetpte/"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a href="https://www.instagram.com/theharpreetpte/"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href="https://www.instagram.com/theharpreetpte/"><i class="fa fa-instagram"></i> Instagram</a></li>
                            <li><a href="https://www.instagram.com/theharpreetpte/"><i class="fa fa-youtube"></i> Youtube</a></li>
                            <li><a href="https://www.instagram.com/theharpreetpte/"><i class="fa fa-linkedin"></i> Linked In</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.footer -->
<div class="tiny-footer">
        <!-- tiny footer -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p>Copyright © 2021 <a href="#">Harpreet IELTS & PTE Academy </a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>