  <div class="topbar">
        <!-- topbar -->
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-none d-sm-none d-lg-block d-xl-block">
                    <p class="welcome-text">Welcome to visapress a immigration company website template</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="header-block">
                        <span class="header-link d-none d-xl-block"><a href="#" class="anchor-link">Talk to Our Expert</a></span>
                        <span class="header-link">+1 800 123 4567</span>
                        <span class="header-link"> <button type="submit" class="" data-toggle="modal" data-target="#searchModal"> <i class="fa fa-search"></i></button></span>
                        <span class="header-link"><a href="#" class="btn btn-default btn-sm">Apply Now</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.topbar -->
    <div class="header-classic">
        <!-- header classic -->
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12"><a href="index-3.html" class=""><img src="static/images/logo.png" alt="Visapress an Immigration and Visa Consulting Website Template"></a></div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                    <div id="navigation" class="navigation">
                        <!-- navigation -->
                      <ul>
                            <li><a href="{{ url_for('index')}}">Home</a>
                            </li>
                            <li><a href="#">Coaching</a>
                                <ul>
                                    <li><a href="{{ url_for('ielts') }}">IELTS</a></li>
                                    <li><a href="{{ url_for('pte') }}">PTE</a></li>
                                    <li><a href="{{ url_for('generalenglish') }}">General English</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ url_for('onlineclasses') }}">Online Classes</a>
                            </li>
                            <li><a href="#">Country</a>
                                <ul>
                                    <li><a href="country-list-page.html">Country List Page</a></li>
                                    <li><a href="country-img-list-page.html">Country List Page v2 </a></li>
                                    <li><a href="country-single-page.html">Country Single Page</a></li>
                                    <li><a href="country-single-full-page.html">Country Full Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">About us </a>
                                <ul>
                                    <li><a href="#">About Us</a>
                                        <ul>
                                            <li><a href="about-us-page-v1.html">About us v1</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="founder-page.html">Founder page</a></li>
                                    <li><a href="agent-list-page.html">Agent List</a></li>
                                    <li><a href="agent-single-page.html">Agent Single</a></li>
                                    <li><a href="partner-university-page.html">Partner University Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Features </a>
                                <ul>
                                    <li><a href="#">Testimonial</a>
                                        <ul>
                                            <li><a href="customer-review-page-v1.html">Customer Review Page v1</a></li>
                                            <li><a href="customer-review-score-page-v2.html">Customer Review page v2</a></li>
                                            <li><a href="video-testimonial-page.html">Video Testimonial</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Email List Builder</a>
                                        <ul>
                                            <li><a href="list-builder-embeded.html"> List Builder Embeded </a></li>
                                            <li><a href="list-builder-popup.html">List Builder Popup


</a></li>
                                            <li><a href="list-builder-scroll-box.html">List Builder Scroll Box </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Component</a>
                                        <ul>
                                            <li><a href="accordion-page.html">Accordion</a></li>
                                            <li><a href="tabs-page.html">Tabs</a></li>
                                            <li><a href="alert-page.html">Alert</a></li>
                                            <li><a href="table-page.html">Tables</a></li>
                                            <li><a href="button-page.html">Buttons</a></li>
                                            <li><a href="social-media-page.html">Social Media</a></li>
                                            <li><a href="call-to-action-page.html">Call To Actions</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Gallery</a>
                                        <ul>
                                            <li><a href="gallery-popup.html">Gallery Popup</a></li>
                                            <li><a href="gallery-filterable.html">Gallery Filterable</a></li>
                                            <li><a href="gallery-carousel.html">Gallery Carousel</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">404 Error</a>
                                        <ul>
                                            <li><a href="error-page.html">404 Error 1</a></li>
                                            <li><a href="error-page-v2.html">404 Error 2</a></li>
                                            <li><a href="error-page-v3.html">404 Error 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="faq-page.html">Faq</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog </a>
                                <ul>
                                    <li><a href="blog-page.html">Blog Regular</a></li>
                                    <li><a href="blog-3-column-page.html">Blog Listing 3 Column</a></li>
                                    <li><a href="blog-single-page.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ url_for('contactus') }}">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.header classic -->